/* I need to start with CSS in the next task
http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset all default styles */

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
/* Reset HTML5 display roles */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove blockquote quotes */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

/* Remove table border */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

/* Set default body styles */
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #293b33;
}

/* Set default heading styles */
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* Set default image styles */
img {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* Set default link styles */
a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #4daba6;
  text-decoration: underline;
}

a:visited {
  color: #4daba6;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

a:active {
  color: #4daba6;
}

/* Set button styles */
.button {
  display: inline-block;
  background-color: #1b7f7a;
  color: #fff;
  font-weight: 500;
  font-size: 10pt;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #1b7f7a;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  background-color: #4daba6;
  color: #fff;
  text-decoration: none;
}

.button.contact {
  display: inline-block;
  background-color: #1b7f7a;
  color: #fff;
  font-weight: 500;
  font-size: 10pt;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #1b7f7a;
  transition: 0.2s opacity;
}

.button.contact:hover {
  background-color: #4daba6;
  color: #fff;
}

header {
  background-color: #333;
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 0;
  z-index: 4;
}

.logo {
  max-width: 150px;
  padding: 10px;
  margin-left: 5px;
}

header nav > ul {
  list-style-type: none;
  padding: 20px 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 12px 0;
  border-top: 1px solid #fff;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/*
nav {
  background-color: #333333;
  padding: 10px;
  font-size: 16px;
  width: auto;
  color: #ffffff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}
*/
header nav a {
  color: #fff;
  text-decoration: none;
}

/* Apo edw ksekinane oi allages */

main {
  margin: top 000 px;
}

.hero {
  background-image: 'none';
  height: 500px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.7);
}

/*
  Grid
 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  width: 100%;
  display: flex;
  margin: 40px -15px;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.col-12 {
  width: 100%;
}

.work-item {
  background-color: #f2f2f2;
  height: 300px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

/* Buttons
 */
.button {
  background-color: #1b7f7a;
  color: white;
  border-radius: 8px;
  padding: 1rem 1.7rem;
}

/* Project details
 */
.project_details h1 {
  text-align: center;
  font-size: 32px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project_details h2 {
  text-align: center;
}

.project_details img {
  width: 60%;
}

.project_details .project_details_description {
  text-align: center;
  line-height: 1.1;
  font-size: 16px;
  color: #555;
  width: 70%;
  padding: 3rem;
  margin: 0 auto;
}

.project_details .overview-header {
  font-weight: 300;
  font-size: 28px;
}

.project_details .overview-skill-list ul {
  list-style-type: initial;
}

/* Footer
 */
footer {
  background-color: #333;
  width: 100%;
  text-align: center;
  color: white;
  padding: 50px 0;
}

footer ul {
  list-style-type: none;
  padding: 0 px;
  margin: 0;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
}

.lnkin {
  height: 43px;
  width: auto;
}

.centered-text {
  text-align: center;
}

.right-aligned-text {
  text-align: right;
}

.more-space {
  margin-top: 20px;
}

.text {
  margin-bottom: 10px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px; /* adjust this value as needed */
}

/* styles for the navigation bar */

/* Layout Laptop

@media only screen and (max-width: 1200px) {

  .container {
    width: 100%;
    margin: 0 15px;
  }
  .row {
    display: flex;
    margin: 40px -15px;
    flex-direction: row;
  }
}

.navtoggle li:last-child {
  display: none;
}

@media only screen and (max-width: 641px) {

  .navtoggle li:last-child {
    display: block;;
  }
  .navtoggle li:not(:last-child) {
    display: none;
  }
  .navtoggle.responsive li:not(:last-child) {
    display: block;
  }
}

  */

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

/* The sun */
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation: 4s color-change infinite alternate linear;
}

/* The color of the sun */
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

/* The clouds front and back */
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200 px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate (446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@media only screen and (min-width: 640px) {
  header {
    background-color: #333;
    width: 100%;
    text-align: unset;
    color: white;
    position: initial;
    padding: 20px;
  }

  header nav {
    width: auto;
    float: right;
    margin-top: -45px;
  }

  .navtoggle.responsive nav {
    padding: 0 px 0 0;
  }

  header nav > ul {
    list-style-type: none;
    padding: 0 px;
    margin: 1em 0;
  }

  header nav > ul > li {
    display: inline-block;
    margin-left: 20px;
  }

  .navtoggle.responsive li {
    padding: 0 px;
    border-top: 0 px solid #fff;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .row {
    flex-direction: row;
  }

  .col-6 {
    width: 49%;
  }
}

/* End of CSS file */
