/*I need to start with CSS in the next task*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset all default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Reset HTML5 display roles */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}

/* Remove list styles */
ol, ul {
	list-style: none;
}

/* Remove blockquote quotes */
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Remove table border */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set default body styles */
body {
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
	color: #293b33;
}

/* Set default heading styles */
h1, h2, h3, h4 {
	line-height: 1.4;
}

h1 {
	font-size: 2.75em;
	font-weight: 700;
}

h2 {
	font-size: 2.25em;
	font-weight: 700;
}

h3 {
	font-size: 1.75em;
	font-weight: 400;
}

h4 {
	font-size: 1.35em;
	font-weight: 400;
}  

/* Set default image styles */
img {
	width: 100%;
  display: block;
  margin: 0 auto;
}

/* Set default link styles */
a {
	color: #994c30;
	text-decoration: none;
}

a:hover {
	color: #cc6540;
	text-decoration: underline;
}

a:visited {
	color: #994c30;
}

a:active {
	color: #994c30;
}

/* Set button styles */
.button {
	display: inline-block;
	background-color: transparent;
	color: #F2CDAC;
	font-weight: 400;
	font-size: 10pt;
	padding: 5px;
	border-radius: 30px;
	border: 2px solid #F2CDAC;
	transition: 0.2s opacity;
}

.button:hover {
	opacity: 0.8;
	background-color: #F2CDAC;
	color: #ffffff;
	text-decoration: none;
}

.button.contact {
	background-color: transparent;
	color: #F2CDAC;
	text-transform: uppercase;
	font-weight: 500;
	border: 2px solid #F2CDAC;
}

.button.contact:hover {
	background-color: #F2CDAC;
	color: #ffffff
  }


  header {
    background-color: #333333;
    width: 100%;
    text-align: center;
    color: white;
    position: initial;
  }

  .logo {
     width: 100px;
  }

  nav {
    background-color: #333333;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }


  /* Apo edw ksekinane oi allages */


  * {
    box-sizing: border-box;
  }


    main {
    margin: top 000px;
  }


  .hero {
    background-image: 'none';
    height: 500px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .container {
    max-width: 1200px;
    margin: 0 15px;
  }
  

  .row {
    width: 100%;
    display: flex;
    margin: 40px -15px;
    align-items: flex-start;
    justify-content: space-between;
   
  }
 
  .col-6 {
    width: 49.8%;
  }
  .col-12 {
    width: 100%;
  }

  .work-item {
    background-color: #f2f2f2;
    height: 300px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }


/*footer*/

  footer {
    background-color: #333;
    width: 100%;
    text-align: center;
    color: white;
    padding: 50px 0;
  }

  /*linkedin*/
.lnkin {

  height: 43px;
  width: auto;
}


  .centered-text {
    text-align: center;
  }
  
  .right-aligned-text {
    text-align: right;
  }

  
  .text {
    margin-bottom: 10px;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px; /* adjust this value as needed */
  }
/* styles for the navigation bar */


/* Layout Laptop */
 
@media only screen and (min-width: 1024px) {

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  

  .row {
    width: 100%;
    display: flex;
    margin: 40px -15px;
    flex-direction: row;
   
  }

  .col-6 {
    width: 50%;
        padding: 0 15px;
      }

      .col-3 {
        width: 33.3%;
        padding: 0 15px;
    
      }
    
}